.geometry{
    background-color: #0099ca;
    height: 2000px;
    width: 100vw;
    margin: 0px;
}

.geometry__content{
    margin: 0px;
    padding: 40px 10px 10px 30px;
    color: white;
    overflow-x: hidden;
}

h4{
    margin-top: 15px;
    font-size: 23px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.parameters__heading{
    margin-left: 29%;
    color: red;
    font-size: 45px;
    font-weight: 800;
    padding-top: 15px;
}

.geometry__recommendation{
    margin-top: 5%;
    margin-left: 9%;
}
.sides{
    display: flex;
}

.answer{
    color: red;
}