.chart{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 20%;
    margin-bottom: 30px;
    align-items: center;
    text-align: center;
    margin-left: 8%;
}