/* .transmissonline{
    padding-right: 500px;
} */


.transmissonline__heading{
    align-items: center;
    text-align: center;
    color: red;
    font-size: 35px;
    margin-bottom: 10px;
    margin-left: -150px;
}


.transmissonline__button{
    margin-top: 20px;
    padding: 10px 15px;
    /* background: rgb(63,94,251);
    background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%); */
    background-color: black;
    color: black;
    font-weight: 500;
    font-size: 17px;
    margin-left: 9%;
    color: white;
    font-weight: 600;
}
.transmissionline__image{
    width: 350px;
    height: 300px;
}