.transmissonline__heading{

    color: black;
}


.transmissonline__button{
    margin-top: 20px;
    padding: 10px 15px;
    background-color: rgb(10, 240, 240);
    color: black;
    font-weight: 500;
    font-size: 17px;
}