.app{
    height: 100vh;
    width: 100vw;
    background-image: url('Electric-Background.jpg');
    background-position: top top;
    background-repeat: no-repeat;
    background-size: auto;
    overflow-x: hidden;

}

.transmisson{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
  }

  .transmissonline__button{
    margin-top: 20px;
    padding: 10px 15px;
    background: rgb(63,94,251);
    background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    color: black;
    font-weight: 500;
    font-size: 17px;
    margin-left: 6%;
    color: white;
    font-weight: 600;
    border-radius: 20px;
    border: 2px solid #fad017;
    cursor: pointer;
}

.topbar{
    display: flex;
    justify-content: space-between;
}
.main__heading{
    align-items: center;
    text-align: center;
    margin-bottom: 4%;
    color: #fad017;
    font-size: 45px;
    flex: 1;
    align-items: center;
    text-align: center;
    margin-right: -110px;
    padding-top: 15px;
  }

.app__recommendation{
    right: 0;
    margin-left: 0px;
    margin-right: 70px;
}